.o-wrapper{
  max-width: 810px;
  margin: 3rem auto;
  background-color: #252443;
  box-shadow: 8px 9px 14px -7px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 8px 9px 14px -7px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 8px 9px 14px -7px rgba(0, 0, 0, 0.67);
  box-shadow: 8px 9px 14px -7px rgba(0, 0, 0, 0.67);
}